@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-blue: 75 135 180;  /* RGB for #236DF6 #265A9F*/ 
    --color-red: 230 102 66;   /* RGB for #FF6642 */
    --color-yellow: 255 200 73; /* RGB for #FDD131 */
}